global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'custom_metrics'
    static_configs:
      - targets: ['your_target:port'] 
